In [1]:
### Get historical prices data from Stooq ###
import pandas_datareader.data as web
df = web.DataReader('AAPL', 'stooq')
df.tail(10)

              Open    High     Low   Close     Volume
Date
2016-02-08  21.688  22.287  21.667  22.126  226380753
2016-02-05  22.477  22.570  21.818  21.894  185333207
2016-02-04  22.323  22.666  22.167  22.495  195082338
2016-02-03  22.004  22.429  21.790  22.316  191908531
2016-02-02  22.101  22.245  21.836  21.883  152568935
2016-02-01  22.343  22.400  22.096  22.335  166035283
2016-01-29  21.954  22.545  21.852  22.545  266033049
2016-01-28  21.723  21.892  21.399  21.792  237851000
2016-01-27  22.245  22.380  21.619  21.639  566067108
2016-01-26  23.146  23.366  22.715  23.160  261649311

In [2]:
### Get historical prices data from Yahoo! Finance ###
import pandas_datareader.data as web
df = web.DataReader('AAPL', 'yahoo')
df.tail(10)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-01-08,132.630005,130.229996,132.429993,132.050003,104965400.0,132.050003
2021-01-11,130.169998,128.500000,129.190002,128.979996,100620900.0,128.979996
2021-01-12,129.690002,126.860001,128.500000,128.800003,91951100.0,128.800003
2021-01-13,131.449997,128.490005,128.759995,130.889999,88636800.0,130.889999
2021-01-14,131.000000,128.759995,130.800003,128.910004,90221800.0,128.910004
2021-01-15,130.220001,127.000000,128.779999,127.139999,111235300.0,127.139999
2021-01-19,128.710007,126.940002,127.779999,127.830002,90757300.0,127.830002
2021-01-20,132.490005,128.550003,128.660004,132.029999,104319500.0,132.029999
2021-01-21,139.669998,133.589996,133.800003,136.869995,120529500.0,136.869995
2021-01-22,139.850006,135.020004,136.279999,139.070007,113907200.0,139.070007

In [3]:
### Get historical prices data from Yahoo! Finance (other way) ###
import pandas_datareader.data as web
df = web.get_data_yahoo('AAPL', '2020-05-01', '2020-07-02')
df.tail(10)

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-06-19  89.139999  86.287498  88.660004  87.430000  264476000.0  87.122337
2020-06-22  89.864998  87.787498  87.834999  89.717499  135445200.0  89.401787
2020-06-23  93.095001  90.567497  91.000000  91.632500  212155600.0  91.310051
2020-06-24  92.197502  89.629997  91.250000  90.014999  192623200.0  89.698242
2020-06-25  91.250000  89.392502  90.175003  91.209999  137522400.0  90.889038
2020-06-26  91.330002  88.254997  91.102501  88.407501  205256800.0  88.096405
2020-06-29  90.542503  87.820000  88.312500  90.445000  130646000.0  90.126732
2020-06-30  91.495003  90.000000  90.019997  91.199997  140223200.0  90.879066
2020-07-01  91.839996  90.977501  91.279999  91.027496  110737200.0  90.707176
2020-07-02  92.617500  90.910004  91.962502  91.027496  114041600.0  90.707176

In [4]:
### Get historical prices from Quandl ###
import quandl
symbol = 'WIKI/AAPL'
df = quandl.get(symbol, start_date='2018-01-01', end_date='2020-07-02')
df.tail(10)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-14,180.32,180.52,177.8100,178.440,29075469.0,0.0,1.0,180.32,180.52,177.8100,178.440,29075469.0
2018-03-15,178.50,180.24,178.0701,178.650,22584565.0,0.0,1.0,178.50,180.24,178.0701,178.650,22584565.0
2018-03-16,178.65,179.12,177.6200,178.020,36836456.0,0.0,1.0,178.65,179.12,177.6200,178.020,36836456.0
2018-03-19,177.32,177.47,173.6600,175.300,32804695.0,0.0,1.0,177.32,177.47,173.6600,175.300,32804695.0
2018-03-20,175.24,176.80,174.9400,175.240,19314039.0,0.0,1.0,175.24,176.80,174.9400,175.240,19314039.0
2018-03-21,175.04,175.09,171.2600,171.270,35247358.0,0.0,1.0,175.04,175.09,171.2600,171.270,35247358.0
2018-03-22,170.00,172.68,168.6000,168.845,41051076.0,0.0,1.0,170.00,172.68,168.6000,168.845,41051076.0
2018-03-23,168.39,169.92,164.9400,164.940,40248954.0,0.0,1.0,168.39,169.92,164.9400,164.940,40248954.0
2018-03-26,168.07,173.10,166.4400,172.770,36272617.0,0.0,1.0,168.07,173.10,166.4400,172.770,36272617.0
2018-03-27,173.68,175.15,166.9200,168.340,38962839.0,0.0,1.0,173.68,175.15,166.9200,168.340,38962839.0

In [5]:
### Get historical prices Quandl (only get specific columns) ###
import quandl
df = quandl.get(["WIKI/FB.1", "WIKI/AAPL.4"])
df.tail(10)

            WIKI/FB - Open  WIKI/AAPL - Close
Date
2018-03-14          182.60            178.440
2018-03-15          183.24            178.650
2018-03-16          184.49            178.020
2018-03-19          177.01            175.300
2018-03-20          167.47            175.240
2018-03-21          164.80            171.270
2018-03-22          166.13            168.845
2018-03-23          165.44            164.940
2018-03-26          160.82            172.770
2018-03-27          156.31            168.340

In [14]:
### Get historical prices from Quandl (only latest rows) ###
import quandl
df = quandl.get("WIKI/AAPL", rows=5)
df.tail(10)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-21,175.04,175.09,171.26,171.270,35247358.0,0.0,1.0,175.04,175.09,171.26,171.270,35247358.0
2018-03-22,170.00,172.68,168.60,168.845,41051076.0,0.0,1.0,170.00,172.68,168.60,168.845,41051076.0
2018-03-23,168.39,169.92,164.94,164.940,40248954.0,0.0,1.0,168.39,169.92,164.94,164.940,40248954.0
2018-03-26,168.07,173.10,166.44,172.770,36272617.0,0.0,1.0,168.07,173.10,166.44,172.770,36272617.0
2018-03-27,173.68,175.15,166.92,168.340,38962839.0,0.0,1.0,173.68,175.15,166.92,168.340,38962839.0

In [15]:
### Get historical prices from Investpy (find list of countires) ###
import investpy
list_countries  = investpy.get_stock_countries()
list_countries[:10] # This line is optional is only a limit of shown rows

['argentina',
 'brazil',
 'canada',
 'chile',
 'colombia',
 'costa rica',
 'jamaica',
 'mexico',
 'peru',
 'united states']

In [16]:
### Get historical prices from Investpy (find prices for a stock in a country) ###
import investpy
df = investpy.get_stock_recent_data(stock='AAPL',country='united states')
df.tail(10)

              Open    High     Low   Close     Volume Currency
Date
2020-11-18  117.33  118.95  116.84  118.64   74112976      USD
2020-11-19  118.64  118.77  117.29  117.34   73604000      USD
2020-11-22  117.21  117.59  113.76  113.85  127959320      USD
2020-11-23  113.96  115.85  112.59  115.17  113874216      USD
2020-11-24  115.63  116.75  115.23  116.03   76499232      USD
2020-11-26  116.57  117.49  116.22  116.59   46691000      USD
2020-11-29  116.97  120.97  116.81  119.05  167204992      USD
2020-11-30  121.01  123.47  120.01  122.72  125922000      USD
2020-12-01  122.15  123.37  120.92  123.08   89004192      USD
2020-12-02  123.51  123.77  122.24  122.94   78967632      USD

In [17]:
### Get historical prices from Investpy (find list of conuntries where ETFs are traded) ###
import investpy
list_countries = investpy.etfs.get_etf_countries()
list_countries[:10] # This line is optional is only a limit of shown rows

['australia',
 'austria',
 'belgium',
 'brazil',
 'bulgaria',
 'canada',
 'china',
 'colombia',
 'denmark',
 'egypt']

In [24]:
### Get historical prices from Investpy (find list of ETFs traded in a country) ###
import investpy
df = investpy.etfs.get_etfs(country='united states')
df.tail(10) # This line is optional is only a limit of shown rows

,country,name,full_name,symbol,isin,asset_class,currency,stock_exchange,def_stock_exchange
2154,united states,WisdomTree Emerging Markets Corporate Bond,WisdomTree Emerging Markets Corporate Bond,EMCB,US97717X7848,bond,USD,NASDAQ,True
2155,united states,WisdomTree Modern Tech Platforms,WisdomTree Modern Tech Platforms Fund,PLAT,US97717Y7177,equity,USD,NYSE,True
2156,united states,WisdomTree Japan Multifactor,WisdomTree Japan Multifactor Fund,JAMF,US97717X2898,equity,USD,NYSE,True
2157,united states,WisdomTree Asia-Pacific ex-Japan,WisdomTree Asia-Pacific ex-Japan,AXJL,US97717W8284,equity,USD,NYSE,True
2158,united states,WisdomTree India ex State Owned Enterprises Fund,WisdomTree India ex State Owned Enterprises Fund,IXSE,US97717Y7334,equity,USD,NYSE,True
2159,united states,WisdomTree CBOE Russell 2000 PutWrite Strategy,WisdomTree CBOE Russell 2000 PutWrite Strategy,RPUT,US97717Y8407,equity,USD,NYSE,True
2160,united states,WisdomTree Europe Multifactor,WisdomTree Europe Multifactor Fund,EUMF,US97717X2559,equity,USD,NYSE,True
2161,united states,Xtrackers Low Beta High Yield Bond,Xtrackers Low Beta High Yield Bond,HYDW,US2330512672,bond,USD,NYSE,True
2162,united states,Xtrackers High Beta High Yield Bond,Xtrackers High Beta High Yield Bond,HYUP,US2330512599,bond,USD,NYSE,True
2163,united states,Xtrackers Short Duration High Yield,Xtrackers Short Duration High Yield,SHYL,US2330512839,bond,USD,NYSE,True

In [19]:
### Get historical prices from Investpy (find ETF's prices) ###
import investpy
df = investpy.get_etf_recent_data(etf='spdr s&p 500', country='united states')
df.tail(10)

              Open    High     Low   Close Currency Exchange
Date
2020-11-18  355.60  358.18  354.15  357.78      USD     NYSE
2020-11-19  357.50  357.72  355.25  355.33      USD     NYSE
2020-11-22  357.28  358.82  354.86  357.46      USD     NYSE
2020-11-23  360.21  363.81  359.29  363.22      USD     NYSE
2020-11-24  363.13  363.16  361.48  362.66      USD     NYSE
2020-11-26  363.84  364.18  362.58  363.67      USD     NYSE
2020-11-29  362.83  363.12  359.17  362.06      USD     NYSE
2020-11-30  365.57  367.68  364.93  366.02      USD     NYSE
2020-12-01  364.82  366.96  364.20  366.79      USD     NYSE
2020-12-02  366.68  368.19  365.50  366.69      USD     NYSE

In [20]:
### Get historical prices from Investpy (find ETF's prices Euro Market example) ###
import investpy
df = investpy.get_etf_recent_data(etf='bbva accion dj eurostoxx 50', country='spain')
df.tail(10)

              Open    High     Low   Close Currency Exchange
Date
2020-11-19  34.550  34.805  34.550  34.785      EUR   Madrid
2020-11-22  35.000  35.120  34.890  34.780      EUR   Madrid
2020-11-23  35.015  35.240  34.995  35.165      EUR   Madrid
2020-11-24  35.300  35.310  35.070  35.235      EUR   Madrid
2020-11-25  35.380  35.380  35.215  35.240      EUR   Madrid
2020-11-26  35.165  35.425  35.165  35.420      EUR   Madrid
2020-11-29  35.270  35.425  35.050  35.100      EUR   Madrid
2020-11-30  35.195  35.410  35.195  35.385      EUR   Madrid
2020-12-01  35.220  35.310  35.135  35.295      EUR   Madrid
2020-12-02  35.230  35.260  35.230  35.275      EUR   Madrid

In [1]:
### Investpy vs Yaahoo! (prices date comparison) ###
import investpy
df = investpy.get_stock_recent_data(stock='AAPL',country='united states',  order='descending')
df.tail(10)

              Open    High     Low   Close     Volume Currency
Date
2020-11-19  118.64  118.77  117.29  117.34   73604000      USD
2020-11-18  117.33  118.95  116.84  118.64   74112976      USD
2020-11-17  118.61  119.82  118.00  118.03   76322112      USD
2020-11-16  119.51  120.67  118.99  119.39   74270976      USD
2020-11-15  118.93  120.99  118.17  120.30   91183016      USD
2020-11-12  119.44  119.67  117.87  119.26   81689000      USD
2020-11-11  119.55  120.52  118.58  119.21  103350672      USD
2020-11-10  117.17  119.59  116.51  119.49  112294952      USD
2020-11-09  115.57  117.58  114.14  115.97  138023392      USD
2020-11-08  120.50  121.98  116.12  116.32  154515312      USD

In [9]:
### Investpy vs Yaahoo! (prices date comparison) ###
# NOTE: date difference vs previous one. from Investpy one day is missing
df = web.DataReader('AAPL', 'yahoo')
df.tail(15)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-11-16,120.989998,118.150002,118.919998,120.300003,91183000.0,120.300003
2020-11-17,120.669998,118.959999,119.550003,119.389999,74271000.0,119.389999
2020-11-18,119.820000,118.000000,118.610001,118.029999,76322100.0,118.029999
2020-11-19,119.059998,116.809998,117.589996,118.639999,74113000.0,118.639999
2020-11-20,118.769997,117.290001,118.639999,117.339996,73391400.0,117.339996
2020-11-23,117.620003,113.750000,117.180000,113.849998,127959300.0,113.849998
2020-11-24,115.849998,112.589996,113.910004,115.169998,113874200.0,115.169998
2020-11-25,116.750000,115.169998,115.550003,116.029999,76499200.0,116.029999
2020-11-27,117.489998,116.220001,116.570000,116.589996,46691300.0,116.589996
2020-11-30,120.970001,116.809998,116.970001,119.050003,169410200.0,119.050003
2020-12-01,123.470001,120.010002,121.010002,122.720001,128166800.0,122.720001
2020-12-02,123.370003,120.889999,122.019997,123.080002,89004200.0,123.080002
2020-12-03,123.779999,122.209999,123.519997,122.940002,78967600.0,122.940002
2020-12-04,122.860001,121.519997,122.599998,122.250000,78133200.0,122.250000
2020-12-07,124.570000,122.250000,122.309998,123.750000,78742725.0,123.750000

In [23]:
### Get Technicals from Yahoo! by using yfinance ###
import yfinance as yf
# Ignore warings
import warnings
warnings.filterwarnings("ignore")

# Get Data Frames from Yahoo! Finance
yf.pdr_override()
df = yf.download('FB','2017-01-01','2020-11-30')
df.tail(10)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-11-13,277.720001,277.760010,273.100006,276.950012,276.950012,10391200
2020-11-16,275.049988,279.410004,274.630005,278.959991,278.959991,12970400
2020-11-17,277.679993,277.679993,273.290009,275.000000,275.000000,15040300
2020-11-18,274.519989,277.390015,271.839996,271.970001,271.970001,12152900
2020-11-19,271.019989,273.470001,269.190002,272.940002,272.940002,12963700
2020-11-20,272.559998,273.000000,269.410004,269.700012,269.700012,18114700
2020-11-23,270.890015,270.950012,264.529999,268.429993,268.429993,20990800
2020-11-24,268.489990,277.820007,267.869995,276.920013,276.920013,16930400
2020-11-25,278.140015,280.179993,272.649994,275.589996,275.589996,12467000
2020-11-27,277.390015,279.130005,274.820007,277.809998,277.809998,7808400